@model IEnumerable<MyLifeClient.Models.State>

<p>
        <a asp-action="CreateState" class="text-info">Добавить</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weigth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mood)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Date.Day.@item.Date.Month.@item.Date.Year
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weigth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mood)
                    </td>
                    <td>
                        @using (Html.BeginForm("UpdateState", "State", FormMethod.Get))
                        {
                            <input type="hidden" name="inputId" value="@item.Id" />
                            <input class="btn btn-link link" type="submit" value="Изменить">
                        }
                        @using (Html.BeginForm("DeleteState", "State", FormMethod.Post))
                        {
                            <input type="hidden" name="inputId" value="@item.Id" />
                            <input class="btn btn-link link" type="submit" value="Удалить">
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
