@model IEnumerable<MyLifeClient.Models.Recipe>

<p>
    <a asp-action="CreateRecipe">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Изображение
            </th>
            <th>
                Название блюда
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeInMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complexity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="text-align:center;">
                @if (item.Picture != null)
                {
                    <img src="@ByteConvert.GetStringFromBytes(item.Picture)" width="50" />
                }
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.TimeInMinutes мин.
            </td>
            <td>
                @item.Complexity
            </td>
            <td>
                @using (Html.BeginForm("Recipe", "Recipes", FormMethod.Get))
                {
                    <input type="hidden" name="inputId" value="@item.Id" />
                    <input class="btn btn-link link" type="submit" value="Подробнее">
                }
                @using (Html.BeginForm("DeleteRecipe", "Recipes", FormMethod.Post))
                {
                    <input type="hidden" name="inputId" value="@item.Id" />
                    <input class="btn btn-link link" type="submit" value="Удалить">
                }
            </td>
        </tr>
}
    </tbody>
</table>
